---
import { projects, members } from '../data.yaml';
import { renderRefs, fixLink } from '../lib/utils.js';

const { past = false } = Astro.props;

function memberIcon (id) {
    const m = members.find(m => m.id === id && m.confirmed !== false)
    if (!m) {
        return null
    }
    return `<img src="/images/members/${m.img}" title="${m.name}" alt="${m.name}" class="rounded-full w-6 aspect-square object-cover" />`
}

const arr = projects.filter(p => past ? p.past === true : p.past !== true).filter(p => p.confirmed !== false).reverse()
---


<div class="not-prose">
    {arr.map(p => (
        <div class="flex gap-4 mb-4 py-2 px-2 items-center hover:bg-gray-100 rounded-lg w-full group" class:list={[p.confirmed === false ? 'opacity-50' : '']}>
            <div class="shrink-0"><img src={'/images/projects/'+p.img} class="aspect-square object-cover rounded-xl w-20" /></div>
            <div class="grow">
                <div class="flex flex-wrap gap-2 items-center w-full">
                    <div class="font-semibold">
                        {p.refs?.web && (
                            <a href={fixLink(p.refs.web)} class="hover:underline">{p.name}</a>
                        )}
                        {!p.refs?.web && p.name}
                    </div>
                    <div class="text-sm">({p.years})</div>
                    <div class="grow text-xs">
                        <Fragment set:html={renderRefs(p.refs)} />
                    </div>
                    <div class="flex gap-1 opacity-25 group-hover:opacity-100">
                        {p.members.map(m => (
                            <Fragment set:html={memberIcon(m)} />
                        ))}
                    </div>
                </div>
                {p.description && (
                    <div class="prose-inline text-sm">{p.description}</div>
                )}
                {p.tags && (
                    <div class="mt-1.5 flex gap-2">
                        {p.tags.map((tag) => (
                            <div class="bg-gray-100 rounded-xl py-0.5 px-2 text-xs text-black/50">{tag}</div>
                        ))}
                    </div>
                )}
            </div>
        </div>
    ))}
</div>